<div class="jumbotron mt-4">
    <h1 class="display-4">NOTES APP NONDEJS AND MONGODB</h1>
    <p class="lead">Lorem ipsum dolor, sit amet consectetur adipisicin</p>
    <hr class="my-4">
    <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aperiam nihil dolorum ad? Iusto distinctio harum quis obcaecati fugit minus blanditiis, voluptatibus nobis architecto, est error non, quam corporis voluptatem perspiciatis.
    </p>
</div> 