body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header, footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

nav {
    background-color: #444;
}

.nav-bar {
    
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.nav-bar li {
    
    display: inline;
}

.nav-bar a {
    border: 2px solid black;
    display: block;
    padding: 10px;
    text-decoration: none;
}

.nav-bar img {
    width: 40px; /* Ajusta el tamaño según sea necesario */
    height: 40px; /* Ajusta el tamaño según sea necesario */
    object-fit: cover;
}

main {
    flex: 1;
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

footer {
    margin-top: auto;
}
