<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/estilo-login.css">
    <title>Login</title>
</head>

<body>
    <header class="header1">
        <ul>
            <li>¿QUIEN</li>
            <li>QUIERE</li>
            <li>SER</li>
            <li>EL</li>
            <li>MEJOR</li>
            <li>DE</li>
            <li>LA</li>
            <li>CLASE?</li>
        </ul>
    </header>

    <div class="container">
        <% if (message.length > 0) { %>
        <div class="alert alert-danger">
            <%= message %>
        </div>
        <% } %>

        <form action="/login" method="POST">
            <h1 class="titulo">Iniciar sesión</h1>
            <label>
                <i class="fa-regular fa-user"></i>
                <input name="username" placeholder="Usuario" type="text" id="username" required>
            </label>
            <label>
                <i class="fa-solid fa-lock"></i>
                <input name="password" placeholder="Contraseña" type="password" id="contrasenia" required>
            </label>
            <div class="error-message" style="color:red;"></div>
            <a href="/register" class="link"> Si no tiene cuenta regístrate</a>
            <button id="button">Iniciar sesión</button>
        </form>
    </div>

    <footer>
        <p>Los Aventureros</p>
    </footer>
</body>

</html>
