* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.principal {
    display: grid;
    grid-template-rows: 10% 10% 60% 20%;
    grid-template-areas: "header header" "nav nav" "main main" "footer footer";
    min-height: 100vh;
    gap: 0;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: header;
    background-color: #053f5c;
}

nav {
    grid-area: nav;
    background-color: #429EBD;
}

.nav-bar {
    list-style: none;
    padding: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4%;
}

.nav-bar li {
    display: inline;
}

.nav-bar a {
    display: flex;
    font-weight: bold;
    color: black;
    border: 2px solid black;
    width: 100%;
    text-decoration: none;
    justify-content: center;
    align-items: center;
}

.nav-bar a img {
    width: 30px;
    height: 30px;
}

.main {
    grid-area: main;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.center-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200%;
    margin-top: -250px;
}

.table-container {
    width: 80%;
    margin: 0 auto;
    margin-top: 20px; /* Añadido para dar espacio entre el título y la tabla */
}

.styled-table {
    width: 100%;
    font-size: 24px;
    font-family: Arial, sans-serif;
    text-align: center;
}

.styled-table thead tr {
    color: rgb(0, 0, 0);
    margin-top: 20px; /* Añadido para bajar los encabezados */
}

.styled-table th,
.styled-table td {
    padding: 20px 25px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #053f5c;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #053f5c;
}

.footer {
    grid-area: footer;
    background-color: #F7AD19;
}

.footer-contenedor {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: "izquierda derecha";
    height: 20vh;
}

.izquierda {
    grid-area: izquierda;
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 2%;
}

.derecha {
    grid-area: derecha;
    display: flex;
    align-items: center;
    justify-content: right;
    padding-right: 2%;
}

.img {
    height: 50%;
    width: 30%;
}

.imgCarrera {
    height: 80%;
    width: 25%;
}

.buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 120px;
}

.action-button {
    background-color: #429EBD;
    color: white;
    border: none;
    padding: 20px 40px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

.action-button:hover {
    background-color: #053f5c;
}
