*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(to right, #2aace6,#0c5474);
}


form{
    display: flex;
    flex-direction: column;
    background: #fff;
    text-align: center;
    padding: 20px 25px;
    box-shadow: 0 5px rgba(71, 3, 6, 0.7);

}

form .titulo{
    color: black;
    font-size: 35px;
    font-weight: 800;
    margin-bottom: 30px;
}

form label{
    margin-bottom: 35px;
}

form label .fa-solid{
    font-size: 20px;
    color: rgb(27, 88, 88);
    margin-right: 10px;
}
form label .fa-regular{
    font-size: 20px;
    color: rgb(27, 88, 88);
    margin-right: 10px;
}

form label input{
    outline: none;
    border: none;
    color: black;
    border-bottom: solid 1px rgb(27, 88, 88);
    padding:  0 5px;
    font-size: 18px;
}

form label input::placeholder{
    color: rgba(37, 37, 37, 0.5);

}

form .link{
    color: black;
   margin-bottom: 15px;
}

form button{
    color: #fff;
    border: none;
    background: linear-gradient(to right, #2aace6,#0c5474);
    padding: 10px 15px;
    cursor: pointer;
    font-size: 20px;

}
