* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif

}

.container {
    display: grid;

    grid-template-areas: "header header" "menu menu"  " content content" "footer footer";
    grid-template-rows: 50px 300px 320px 200px;
    grid-gap: 5px;
    height: 100vh;
}

.item {
    background-color: rgb(224, 228, 235);
    padding: 50px;
   border: 1px solid lightgray;
}

.header {
    
    grid-area: header;font-size: 20px;
    color: rgb(5, 5, 5);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    text-align: center;
    padding: 20px;
    position: fixed;
    width: 100%;
    height: 50px;
 
}

nav{
    position: relative;
    background: #222;
    height: 35px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    

}
nav a{
    position: relative;
    font-size: 1em;
    font-weight: 499;
    color: #fff;
    text-decoration: none;
    padding: 0 23px;
    z-index: 1;


}
nav span{
    position: absolute;
    top:0;
    left: 0;
    width: 95px;
    height: 100%;
    background: linear-gradient(47deg,#204f19fc,#33ff55);
    border-radius: 8px;
    transition: .3s;
}

nav a:nth-child(1):hover~span{
    left: 0;
}
nav a:nth-child(2):hover~span{
    left: 110px;
}
nav a:nth-child(3):hover~span{
    left: 213px;
    width: 110px;
}
nav a:nth-child(4):hover~span{
    left: 315px;
    width: 115px;
}
nav a:nth-child(5):hover~span{
    left: 447px;
    width: 110px;
}


.menu{
    grid-area: menu;
   font-size: 40px;
    color: aliceblue;
    justify-content: center;
    display: flex;
    align-items: center;
    padding: 10px;
    
}





.content {
    grid-area: content;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 40px;
    font-size: 40px;
    color: aliceblue;
    justify-content: center;
    align-items: center;


}

.footer {
    grid-area: footer;
    color: aliceblue;
    font-weight: bolder;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}



