* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "header1 header1" "header header" "menu menu" " content content" "footer footer";
  grid-template-rows: 50px 50px 540px 92px;
  grid-gap: 1px;
  height: 100vh;
}

.item {
  background-color: rgb(224, 228, 235);
  padding: 50px;
  border: 1px solid lightgray;
}

.header1 {
  display: flex;
  background-color: #171810;
  justify-content: center;
  align-items: center;
  grid-area: header1;
  place-self: center;
  width: 100%;
  height: 100%;
}

ul {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

ul li {
  margin: 0 5px;
  font-size: 1.5rem;
  font-weight: bold;
  color: #555;
  text-shadow: none;
  animation: anim 1s infinite linear;
}

@keyframes anim {
  0% {
    color: #555;
    text-shadow: none;
  }

  85% {
    color: #ffea00;
    text-shadow: 0 0 1vw #ffc400, 0 0 3vw #f44336;
  }

  100% {
    color: #555;
    text-shadow: none;
  }
}

ul li:nth-child(1) {
  animation-delay: 0.4s;
}
ul li:nth-child(2) {
  animation-delay: 0.8s;
}
ul li:nth-child(3) {
  animation-delay: 1.2s;
}
ul li:nth-child(4) {
  animation-delay: 1.6s;
}
ul li:nth-child(5) {
  animation-delay: 2s;
}
ul li:nth-child(6) {
  animation-delay: 2.4s;
}
ul li:nth-child(7) {
  animation-delay: 2.8s;
}
ul li:nth-child(8) {
  animation-delay: 3.2s;
}

/*pantalla emergente*/

.popup-container {
  position: absolute;
  width: 1000px;
  height: 100%;
  font-size: 18px;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 4;
}
.popup-container .popup-box {
  width: 500px;
  background: #ffffff;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 30px;
  pointer-events: none;
  transform: scale(0);
}

.popup-container.active .popup-box {
  transform: scale(1);
  transition: 0.4s ease;
  transition-delay: 0.25s;
}

.popup-box h1 {
  color: #333;
  line-height: 1;
}
.popup-box p {
  color: #333;
  margin: 12px 0 20px;
}
.popup-box .close-btn {
  width: 100%;
  height: 45px;
  background: #053f5c;
  border: none;
  outline: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 18px;
  color: #ffffff;
  font-weight: 500;
}
.popup-container.active {
  opacity: 1;
  pointer-events: auto;
  transition: 0.4s ease;
}
.close-btn {
  pointer-events: auto;
  z-index: 1002;
}

.header {
  background-color: #053f5c;
  grid-area: header;
  font-size: 20px;
  color: rgb(5, 5, 5);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
  text-align: center;
  padding: 20px;
  width: 100%;
  height: 50px;
  z-index: 4;
}
.content {
  background-color: #053f5c;
}

nav {
  position: relative;
  background: #000000;
  height: 35px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav a {
  position: relative;
  font-size: 1em;
  font-weight: 499;
  color: #fff;
  text-decoration: none;
  padding: 0 23px;
  z-index: 1;
}
nav span {
  position: absolute;
  top: 0;
  left: 0px;
  width: 95px;
  height: 100%;
  background: linear-gradient(47deg, #654e01, #ffdd00);
  border-radius: 8px;
  transition: 0.3s;
}

nav a:nth-child(1):hover ~ span {
  left: 0px;
}
nav a:nth-child(2):hover ~ span {
  left: 110px;
}
nav a:nth-child(3):hover ~ span {
  left: 214px;
  width: 110px;
}
nav a:nth-child(4):hover ~ span {
  left: 315px;
  width: 115px;
}
nav a:nth-child(5):hover ~ span {
  left: 200px;
  width: 110px;
}

.menu {
  grid-area: menu;
  font-size: 40px;
  color: aliceblue;
  justify-content: center;
  display: flex;
  align-items: center;
  padding: 10px;
  overflow: hidden;
  background: repeating-conic-gradient(#ffdd00 0 18deg, #ffc300 0 36deg);
}

.fortune-wheel,
.wheel {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wheel {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-image: conic-gradient(
    #00acc3 0deg 30deg,
    #79af3e 30deg 60deg,
    #fd8b00 60deg 90deg,
    #e53935 90deg 120deg,
    #465a65 120deg 150deg,
    #00abc1 150deg 180deg,
    #7db343 180deg 210deg,
    #f98b00 210deg 240deg,
    #e52935 240deg 270deg,
    #00acc3 270deg 300deg,
    #7db343 300deg 330deg,
    #fd8b00 330deg 360deg
  );
  z-index: 2;
}
.black-wheel,
.black-wheel::after {
  position: absolute;
  border-radius: 50%;
}
.black-wheel {
  width: 270px;
  height: 270px;
  background-color: #333;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  z-index: 1;
}
.black-wheel::after {
  content: "";
  border: 5px dotted yellow;
  width: 260px;
  height: 260px;
  animation: feSpotLight 0.4s linear infinite;
}
@keyframes feSpotLight {
  0% {
    filter: hue-rotate(0);
  }
  50% {
    filter: hue-rotate(130deg);
  }
  100% {
    filter: hue-rotate(0);
  }
}
.ring {
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 100%;
  transform: rotate(-15deg);
}

.label {
  top: 50%;
  width: 100%;
  height: 100%;
  text-align: center;
  transform-origin: 50% 0;
  position: absolute;
  font-size: 20px;
}
.label span {
  display: inline-block;
  margin: 0 auto;
  width: 70px;
  height: 70px;
  line-height: 70px;
}
.label:nth-child(1) {
  transform: rotate(0deg) translate(0, -50%);
}
.label:nth-child(2) {
  transform: rotate(30deg) translate(0, -50%);
}
.label:nth-child(3) {
  transform: rotate(60deg) translate(0, -50%);
}
.label:nth-child(4) {
  transform: rotate(90deg) translate(0, -50%);
}
.label:nth-child(5) {
  transform: rotate(120deg) translate(0, -50%);
}
.label:nth-child(6) {
  transform: rotate(150deg) translate(0, -50%);
}
.label:nth-child(7) {
  transform: rotate(180deg) translate(0, -50%);
}
.label:nth-child(8) {
  transform: rotate(210deg) translate(0, -50%);
}
.label:nth-child(9) {
  transform: rotate(240deg) translate(0, -50%);
}
.label:nth-child(10) {
  transform: rotate(270deg) translate(0, -50%);
}
.label:nth-child(11) {
  transform: rotate(300deg) translate(0, -50%);
}
.label:nth-child(12) {
  transform: rotate(330deg) translate(0, -50%);
}

.holder {
  position: absolute;
  background-color: #333;
  width: 100px;
  height: 100px;
  overflow: hidden;
  top: 220px;
}
.holder::before {
  content: "";
  position: absolute;
  width: 270px;
  height: 270px;
  background-color: rgba(0, 0, 0, 0.4);
  top: -218px;
  border-radius: 50%;
  left: -85%;
}
.shadow {
  position: absolute;
  width: 250px;
  height: 30px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.3);
  top: 320px;
}
.shadow::before {
  content: "";
  position: absolute;
  background-color: #333;
  width: 200px;
  height: 30px;
  border-radius: 100px 100px 0 0;
  left: 30px;
  top: -15px;
  box-shadow: inset 0 -10px rgba(0, 0, 0, 0.3);
}
.shadow::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: yellow;
  border: 5px solid #333;
  border-radius: 50%;
  box-shadow: inset -5px -5px rgba(0, 0, 0, 0.2);
  top: -215px;
  left: 105px;
  z-index: 3;
}

.arrow,
.arrow::before {
  position: absolute;
  border-style: solid;
  width: 0;
  height: 0;
  z-index: 4;
}
.arrow {
  border-color: #333 transparent transparent transparent;
  border-width: 50px 20px 0 20px;
  top: -15px;
}
.arrow::before {
  content: "";
  border-color: #9e2a2b transparent transparent transparent;
  border-width: 38px 13px 0 13px;
  top: -46px;
  left: -13px;
}
.spin {
  position: absolute;
  top: -80px;
  width: 150px;
  background-color: transparent;
  border: 5px solid red;
  font-weight: 900;
  font-size: 30px;
  transition: 0.1s;
  cursor: pointer;
  color: red;
  border-radius: 50px;
}
.spin:hover {
  background-color: red;
  color: yellow;
}

.spin:active {
  width: 200px;
  color: #333;
}
.content {
  grid-area: content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #053f5c;
}

.left {
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: white;
}

.right {
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: white;
}
