<!DOCTYPE html>
<html>

<head>
    <title>Ruleta de Preguntas</title>
    <link rel="stylesheet" type="text/css" href="/css/style-juego.css" />
</head>

<body>
   
    <section class="container">
        <div class="item header1">
            <h1></h1>
            <ul> 
                <li>¿QUIEN</li>
                <li>QUIERE</li>
                <li>SER</li>
                <li>EL</li>
                <li>MEJOR</li>
                <li>DE</li>
                <li>LA</li>
                <li>CLASE?</li>
            </ul>
        </div>

        <div class="item header">
            <nav>
                <a href="/dashboard/alumno">Jugar</a>
                <!--<a href="/login/src/views/dashboard/records.ejs">Records</a>-->
                <a href="/logout">Cerrar</a>
                <span></span>
            </nav>
        </div>

        <div class="item menu">
            <div class="fortune-wheel">
                <div id="wheel" class="wheel">
                    <div class="ring">
                        <div class="label" id="1"><span>1</span></div>
                        <div class="label" id="2"><span>2</span></div>
                        <div class="label" id="3"><span>3</span></div>
                        <div class="label" id="4"><span>4</span></div>
                        <div class="label" id="5"><span>5</span></div>
                        <div class="label" id="6"><span>6</span></div>
                        <div class="label" id="7"><span>7</span></div>
                        <div class="label" id="8"><span>8</span></div>
                        <div class="label" id="9"><span>9</span></div>
                        <div class="label" id="10"><span>10</span></div>
                        <div class="label" id="11"><span>11</span></div>
                        <div class="label" id="12"><span>12</span></div>
                    </div>
                </div>
                <div class="black-wheel"></div>
                <div class="holder"></div>
                <div class="shadow"></div>
                <div class="arrow"></div>
                <button id="spin" class="spin">GIRAR</button>

                <div class="popup-container">
                    <div class="popup-box">
                        <h1>Hello world!</h1>
                        <p>aquí debe de ir la pregunta</p>
                        <button class="close-btn">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="item content">
            <div class="left">
                <p>Alumno: <%= user.local.username %></p>
            </div>
            <div class="right">
                <p id="puntos">Puntos: 0</p>
            </div>
        </div>
    </section>
    <script src="/js/script-juego.js"></script>
</body>
</html>
